//META{"name":"Better Darkmode Theme","description":"First Official Better Dark Theme","author":"Iskawo#6265","version":"1.0", "website":"https://gitlab.com/Iskawo/betterdiscord-themes/tree/master/BetterDarkmode", "source":"https://gitlab.com/Iskawo/betterdiscord-themes/tree/master/BetterDarkmode/BetterDarkmode.theme.css"}*//{}


  .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL, .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak, .theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL, .theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL .pad-29zQak, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak
  {
    background-color: var(--primary) !important;
  }

  .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scrollbar-2rkZSL .pad-29zQak, .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scrollbar-2rkZSL .pad-29zQak
  {
    width: 3px;
    left: -3px;
  }

  .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .thumb-2JwNFC, .theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL .thumb-2JwNFC, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .thumb-2JwNFC
  {
    background-color: rgba(0,0,0,.3) !important;
  }

  .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .track-1JN30G
  {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
  }

  .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .thumb-2JwNFC
  {
    border: none;
  }

  :root
  {
    --primary: #18191c;
    --secondary: #121316;
    --secondary-alt: #0d0e10;
  }

  .appMount-3lHmkl
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .layer-3QrUeG,.theme-dark .layers-3iHuyZ,.container-2lgZY8,.container-PNkimc,.container-16j22k,.authBox-hW6HRx, .theme-dark .standardSidebarView-3F1I7i
  {
    background: var(--primary);
  }

  .platform-win .base-3dtUhz
  {
    border-radius: 0px;
  }

  .image-2jyRAK.loaded-3PtF_J
  {
    content: url(https://i.imgur.com/9tcJRCW.png);
  }

  .theme-dark .input-cIJ7To
  {
    background-color: var(--secondary);
  }

  .quote-3aooyW:before
  {
    content: "NIGHT WAS HERE :.) - ";
  }

/* server list */
  .theme-dark .wrapper-1Rf91z
  {
    background-color: var(--secondary-alt);
  }

  .scroller-2TZvBN
  {
    background-color: var(--secondary-alt);
  }

/* server menu */
  .hasDropdown-2invhV .header-2o-2hj:hover
  {
    background-color: var(--secondary);
  }

  .clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj
  {
    background-color: var(--secondary-alt);
  }

/* Notices */
  .channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4
  {
    background: var(--secondary) url(https://discordapp.com/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) no-repeat center 35px;
  }

  .channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u,.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u:active
  {
    background-color: var(--secondary-alt);
  }

  .channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW
  {
    background: var(--secondary) url(https://discordapp.com/assets/bf625d222187f542b9d7179109422e2c.svg) no-repeat center 20px;
  }

  .channelNotices-41mJbj .channelNotice-1-XFjC.premiumGuildSubscription-3oKecP
  {
    background: var(--secondary) url(https://discordapp.com/assets/c88e15accf612aef3b209311aaee9f29.svg) no-repeat center 23px;
  }

/* server channels */
  .channels-Ie2l6A
  {
    background-color: var(--primary);
  }

/* selected text channel */
  .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,.theme-dark .listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .wrapper-1ucjTd:hover .content-3at_AU,.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh
  {
    background: var(--secondary);
  }

/* edit channel */
  .theme-dark .contentRegion-3nDuYy
  {
    background: var(--primary);
  }

  .theme-dark .divider-3573oO
  {
    background-color: rgba(0,0,0,.4);
  }

  .theme-dark .sidebarRegion-VFTUkN
  {
    background: var(--secondary);
  }

  .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,.theme-dark .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,.theme-dark .passthroughSelected-1Eq0Kl
  {
    background-color: var(--secondary-alt);
  }

  .group-2dAfBy
  {
    border-color: rgba(0,0,0,0.9);
  }

  .theme-dark .cardPrimary-1Hv-to
  {
    background: var(--secondary);
    border-color: transparent;
  }

  .theme-dark .separator-gCa7yv
  {
    background: #000000;
  }

  .theme-dark .item-3T2z1R
  {
    border-color: var(--secondary-alt);
  }

  .container-2VW0UT.elevationHigh-1PneE4
  {
    box-shadow: none;
    background-color: var(--secondary-alt) !important;
  }

/* no channels */
  .theme-dark .noChannel-Z1DQK7
  {
    background: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

/* channel invites */
  .theme-dark .card-FDVird:before,.theme-dark .cardPrimaryEditable-3KtE4g
  {
    background-color: var(--secondary);
    border: none;
    box-shadow: 0px 0px 2px 0px #000000;
  }

  .theme-dark .inviteSettingsInviteRow-3p2O-N
  {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.30);
    color: #CCCCCC;
  }

  .theme-dark .button-mM-y8i,.theme-dark .button-mM-y8i:hover
  {
    background-color: var(--secondary-alt);
    box-shadow: none;
  }

/* voice connection info */
  .container-1giJp5
  {
    background: var(--secondary);
    border-bottom: solid 1px #090909;
  }

  .theme-dark .container-2x5lvQ .header-2C89wJ
  {
    background-color: var(--secondary);
  }

  .theme-dark .container-2x5lvQ section
  {
    background-color: var(--primary);
  }

  .theme-dark .popout-2GtBL-:after
  {
    border-top-color: var(--primary);
  }

/* account menu */
  .theme-dark .container-3baos1
  {
    background: var(--secondary);
    margin-bottom: 0px;
  }

/* title bar menu  */
  .theme-dark .container-1r6BKw
  {
    background: var(--secondary);
    box-shadow: 0 1px 0 rgba(0,0,0,.00);
  }

  .theme-dark .children-19S4PO:after
  {
    background: transparent;
  }

/* main chat content */
  .messages-3amgkR, .chat-3bRxxu
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0, 0, 0, 0.8);
  }


/* clyde local bot message */
  .theme-dark .isLocalBot-38G0P0
  {
    background: transparent;
    -webkit-box-shadow: none;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
  }

/* messages divider */
  .theme-dark .dividerEnabled-2TTlcf
  {
    box-shadow: 0px 0px 1px 0px #000000;
  }

/* message date divider */
  .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI
  {
    color: rgba(255,255,255,.6);
  }

  .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before
  {
    border-color: #222;
    box-shadow: 0px -1px 0px 0px #000000;
  }

/* embeds  */
  .theme-dark .embedInner-1-fpTo,.theme-dark .wrapperAudio-1jDe0Q,.theme-dark .attachment-33OFj0,.theme-dark .invite-18yqGF,.theme-dark .wrapper-35wsBm
  {
    background-color: var(--secondary);
    border: none;
    box-shadow: 0px 0px 1px 0px #000000;
  }

  .audioControls-2HsaU6, .videoControls-2kcYic
  {
    background-color: transparent;
  }

  .theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6
  {
    border: none;
    color: #fff;
    background: #43b581;
  }

  .lookFilled-1Gx00P.colorGreen-29iAKY
  {
    background-color: #d84040;
    color: #fff;
  }

/* codeblock */
  .theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline
  {
    background: var(--secondary);
  }

  .theme-dark .markup-2BOw-j pre
  {
    background: var(--secondary);
    border-color: transparent;
    box-shadow: 0px 0px 1px 0px #000000;
  }

/* spoiler */
  .theme-dark .spoilerText-3p6IlD.hidden-HHr2R9
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover
  {
    background-color: var(--secondary);
  }

  .theme-dark .spoilerText-3p6IlD
  {
    background-color: #000000;
  }

/* blocked message */
  .theme-dark .messageGroupBlocked-3wrQQX
  {
    border: none;
    box-shadow: 0px 0px 1px 0px #000000;
  }

  .theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf
  {
    background: var(--secondary);
    border: none;
    box-shadow: 0px 0px 1px 0px #000000;
  }

  .theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover
  {
    background: var(--secondary-alt);
    color: #aaa;
  }

/* Reaction buttons */
  .theme-dark .reaction.reaction-me .reaction-count,.theme-brand .content-Qb0rXO
  {
    color: #aaaaaa;
  }

  .theme-dark .reaction-1ELvT8.reactionMe-23mbRf
  {
    background: rgba(0,0,0,.3);
  }

  .theme-dark .jumpToPresentBar-9P20AM
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .jumpToPresentBar-9P20AM:hover
  {
    background-color: var(--secondary);
  }

/* chat form */
  .theme-dark .chat-3bRxxu form,.theme-dark .typing-2GQL18
  {
    background-color: var(--primary);
  }

  .theme-dark .channelTextArea-rNsIhG
  {
    border-top: none;
  }

  .theme-dark .inner-zqa7da
  {
    background-color: var(--secondary);
  }

/* members list */
  .theme-dark .members-1998pB
  {
    background-color: var(--primary);
  }

  .membersWrap-2h-GB4
  {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
  }

  .theme-dark .member-3W1lQa:hover
  {
    background-color: var(--secondary);
  }

  .theme-dark .member-3W1lQa.popout-open, .theme-dark .member-3W1lQa.popout-open:hover
  {
    background-color: var(--secondary-alt);
  }

/* search results */
  .theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .searchResultsWrap-2DKFzt,.theme-dark .searchHeader-1l-wpR
  {
    background-color: var(--secondary);
  }

  .theme-dark .channelSeparator-1X1FuH .channelName-1QajIf
  {
    background-color: transparent;
  }

  .theme-dark .channelSeparator-1X1FuH:before
  {
    border-color: transparent;
  }

  .theme-dark .searchResult-3pzFAB:before,.theme-dark .searchResult-3pzFAB:after
  {
    background-image: none;
  }

  .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA
  {
    border: none;
  }

  .theme-dark .searchResult-3pzFAB .hit-NLlWXA
  {
    background-color: var(--primary);
    box-shadow: 0px 0px 4px 0px #000000;
  }

  .theme-dark .jumpButton-Ia2hRJ
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .searchResult-3pzFAB.expanded-v2Szsz
  {
    border: none;
    box-shadow: 0px 0px 4px 0px #000000;
  }

  .theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA
  {
    background-color: var(--primary);
    border-bottom: none;
    border-top: none;
  }

/* server overview */
  .sidebarRegionScroller-3MXcoP
  {
    background: var(--secondary);
  }

  .contentRegionScroller-26nc1e
  {
    background-color: var(--primary);
  }

  .theme-dark .container-1nZlH6
  {
    background-color: var(--secondary);
  }

  .regionSelectModal-12e-57
  {
    background: var(--primary);
  }

  .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3
  {
    background-color: var(--secondary);
    border-color: transparent;
  }

  .theme-dark .divider-3wNib3
  {
    border-color: rgba(0,0,0,0.6);
  }

  .theme-dark .checkbox-1ix_J3
  {
    border-color: rgba(0,0,0,.20);
    background: var(--secondary-alt);
  }

/* server audit log */
  .theme-dark .popoutList-T9CKZQ
  {
    background: var(--primary);
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .selectableItem-1MP3MQ:hover,.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN,.theme-dark .headerExpanded-CUEwZ5
  {
    background-color: var(--secondary);
  }

  .theme-dark .auditLog-3jNbM6
  {
    color: #72767d;
    border: none;
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .changeDetails-bk98pu
  {
    background-color: var(--primary);
  }

/* server settings divider */
  .theme-dark .emojiRow-zIc7ZX,.theme-dark .member-1q7VfX
  {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3);
  }

/* server discovery */
  .theme-dark .pageWrapper-1PgVDX
  {
    background-color: var(--primary);
  }

  .bg-AYqtMd
  {
    content: url(https://i.imgur.com/WO1ecRi.jpg);
  }

  .theme-dark .card-3DjzTQ
  {
    background: var(--secondary);
  }

  .theme-dark .card-3DjzTQ:hover
  {
    background-color: var(--primary);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5), 0 0 0 1px rgba(32,34,37,.6);
  }

  .theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:disabled
  {
    background-color: transparent;
  }

  .theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9,.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:hover,.theme-dark .pageButton-MknE-_:hover
  {
    background-color: var(--secondary);
  }

/* lurker */
  .theme-dark .wrapper-39oAo3
  {
    background-color: var(--secondary-alt);
  }

/* activity */
  .container-2lgZY8,.theme-dark .activityFeed-1C0EmJ
  {
    background-color: var(--primary);
  }

  .theme-dark .activityFeed-1C0EmJ
  {
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .layout-1cQCv2
  {
    background-image: none;
  }

  .channel-2QD9_O.selected-1HYmZZ a,.theme-dark .multipleIconWrapper-1PjkRO, .theme-dark .section-2VKIPC,.theme-dark .popoutContainer-3WC9HR:hover,.theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover,.theme-dark .enabled-5QKLzu:hover
  {
    background-color: var(--secondary-alt);
  }

  .channel-2QD9_O:hover a,.theme-dark .outer-2IVh5n,.theme-dark .wrapper-3UweLa,.theme-dark .recentlyPlayedContainer-2F3MqS,.theme-dark .popout-3G62UL,.theme-dark .unwrapped-37iUtM
  {
    background-color: var(--secondary);
  }

  .theme-dark .wrapper-9ppXpy
  {
    box-shadow: inset 0 1px 0 #202225;
  }

  .theme-dark .separator-2c4hi3
  {
    background-color: rgba(0,0,0,0.4);
  }

  .theme-dark .wrapper-9ppXpy
  {
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.4);
  }

/* library */
  .theme-dark .gameLibrary-TTDw4Y,.theme-dark .root-1BQpZw, .scroller-1IIF0A
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .rowWrapperActive-2L7i9f
  {
    background-color: rgba(0,0,0,.3);
  }

  .theme-dark .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY
  {
    border-top-color: rgba(0,0,0,.3);
  }

  .theme-dark .header-39GIC8
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
    border-bottom-color: rgba(0,0,0,.3);
  }

/* gift */
  .scroller-5bBood
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

/* nitro */
  .theme-dark .applicationStore-1pNvnv, .scroller-9moviB
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .itemBackground-2vEldQ
  {
    background-color: var(--primary);
  }

  .theme-dark .itemBackground-2vEldQ:before
  {
    background: radial-gradient(ellipse at top,rgba(54,57,63,0),var(--primary)),-webkit-gradient(linear,left top,right top,from(var(--primary)),color-stop(40%,rgba(54,57,63,0)),color-stop(60%,rgba(54,57,63,0)),to(var(--primary))),-webkit-gradient(linear,left bottom,left top,from(var(--primary)),color-stop(25%,rgba(54,57,63,0)));
    background: radial-gradient(ellipse at top,rgba(54,57,63,0),var(--primary)),linear-gradient(90deg,var(--primary) 0,rgba(54,57,63,0) 40%,rgba(54,57,63,0) 60%,var(--primary)),linear-gradient(0deg,var(--primary) 0,rgba(54,57,63,0) 25%);
  }

  .theme-dark .categoryHeader-1D7Tqy, .theme-dark .premiumApplicationsHeader-Zmkm5e
  {
    border-color: rgba(0,0,0,0.7);
  }

  .theme-dark .tile-QA_yMc,.theme-dark .searchBox-3Y2Vi7
  {
    background-color: var(--secondary);
  }

  .tile-QA_yMc
  {
    height: 99.2%;
  }

  .theme-dark .gradientOverlayRight-3vMuS8
  {
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--primary)));
    background-image: linear-gradient(90deg,rgba(54,57,63,0),var(--primary));
  }

  .theme-dark .footer-3oZnEF
  {
    background: none;
  }

  .theme-dark .popout-2sKjHu
  {
    border-color: #202225;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    background: var(--primary);
  }

  .theme-dark .optionActive-KkAdqq
  {
    background: var(--secondary-alt);
  }

  .theme-dark .optionNormal-12VR9V:hover
  {
    background-color: var(--secondary);
  }

  .theme-dark .sortFilterBar-3hePOV
  {
    border-color: rgba(0,0,0,0.5);
  }

/* direct message */
  .privateChannels-1nO12o
  {
    background-color: var(--primary);
  }

  .sidebar-2K8pFh, .scroller-1JbKMe
  {
    background: var(--primary);
  }

  .selected-aXhQR6 .layout-2DM8Md
  {
    background-color: var(--secondary-alt);
  }

  .clickable-1JJAn8:hover .layout-2DM8Md
  {
    background: var(--secondary);
  }

/* friends */
  .friendsTable-133bsv .friendsTableBody-1ZhKif
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .container-3gCOGc
  {
    background-color: var(--primary);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d
  {
    border-bottom: solid 2px var(--secondary);
  }

  .theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover
  {
    background-color: var(--secondary);
  }

  .theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud
  {
    border-top: 1px solid rgba(0,0,0,0.3);
  }

  .theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr
  {
    background: var(--primary);
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
  }

  .theme-dark .wrapper-1cBijl
  {
    border-color: rgba(0,0,0,.3);
    background-color: var(--secondary);
  }

  .theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD
  {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

/* create or join a server popout */
  .theme-dark .wrapper-2ZbzR9
  {
    background-color: var(--primary);
  }

  .theme-dark .action-1lSjCi
  {
    background: var(--secondary);
  }

  .theme-dark .or-3THJsp
  {
    display: none;
  }

  .regionSelect-3lf4eE button,.regionSelect-3lf4eE .regionSelectInner-24f4Ce
  {
    border: none;
    box-shadow: 0 0px 2px #000000;
  }

  .theme-light .input-UJ9Tr3
  {
    color: #aaaaaa;
  }

/* user settings */
  .theme-dark .codeRedemptionRedirect-1wVR4b
  {
    background-color: var(--secondary);
    border: none;
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC
  {
    background-color: var(--secondary);
    border-color: transparent;
  }

  .theme-dark .notificationsSound-27jFSh,.theme-dark .row-2okwlC,.theme-dark .game-1ipmAa,.theme-dark .installationPath-24giJj,.theme-dark .item-3eFBNF
  {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.4);
  }

  .theme-dark .notDetected-33MY4s,.theme-dark .searchOption-8nCYo-.selected-1r_nkg
  {
    background-color: var(--secondary);
  }

  .theme-dark .emptyApplications-3GTmw-,.theme-dark .emptyUsers--hiToV
  {
    background-color: var(--secondary);
    border-color: transparent;
  }

  .theme-dark .searchResultsContainer-1ma_dc
  {
    background-color: var(--primary);
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .input-cIJ7To.disabled-2BKQFm
  {
    border-color: rgba(0,0,0,.3);
  }

/* load more messages */
  .theme-dark .hasMore-3e72_v button
  {
    background: var(--secondary);
    border: 1px solid var(--primary);
  }

/* context menus */
  .theme-dark.contextMenu-HLZMGh
  {
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .container-VSDcQc .sectionTag-pXyto9
  {
    background-color: var(--primary);
  }

  .theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteHeaderBackground-30T70q
  {
    background-color: var(--secondary);
  }

  .theme-dark .row-rrHHJU.selected-1pIgLL
  {
    background: var(--secondary);
  }

  .popoutInvert-3UdKhn:not(.popoutBottom-1YbShG)
  {
    border-radius: 0px;
    border: solid 1px rgba(0,0,0,0.2);
  }

/* file uploader */
  .uploadModal-2ifh8j
  {
    background-color: var(--primary);
    border-radius: 10px;
  }

  .uploadModal-2ifh8j .inner-3nWsbo
  {
    border: 2px dashed var(--secondary-alt);
  }

  .uploadModal-2ifh8j .footer-3mqk7D
  {
    background-color: var(--secondary);
  }

/* popout menus */
  .popout-2iWAc-
  {
    border-radius: 0;
    background-color: var(--primary);
    border: none;
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .menu-Sp6bN1
  {
    background-color: var(--primary);
    border-radius: 0px;
    animation: status-picker 600ms ease-in-out;
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .separator-2zcjq8
  {
    border-bottom-color: hsla(0,0%,96%,.04);
  }

  .theme-dark .item-1GzJrl:hover
  {
    background-color: var(--secondary);
  }

  .unread-1xRYoj
  {
    background-color: var(--secondary-alt);
  }

  .unread-1xRYoj:hover
  {
    background-color: var(--secondary);
  }
/* channel topic */
  .theme-dark .modal-yWgWj-
  {
    background-color: var(--primary);
    box-shadow: none;
  }

  .theme-dark .close-hhyjWJ:hover
  {
    background-color: transparent;
  }

  .css-15ejc46-control,.css-2yldzf-control, .css-1yegjoj-control
  {
    background-color: var(--secondary);
    border-color: rgba(0, 0, 0, 0.3);
  }

  .css-181m2lf-menu
  {
    background-color: var(--primary);
    box-shadow: 0 0px 2px #000000;
    border-radius: 0px;
    border: none;
  }

  .css-1gnr91b-option,.theme-dark .overrideHighlight-YPcBxt
  {
    background-color: var(--secondary);
  }

  .css-12o7ek3-option
  {
    background-color: var(--secondary-alt);
  }

  .theme-dark .copyInput-2rOSt7
  {
    background-color: var(--secondary);
  }

/* invites */
  .theme-dark .inviteRow-2L02ae:hover
  {
    background-color: var(--secondary);
  }

  .theme-dark .content-3CCvMx:before
  {
    background-color: transparent;
  }

/* pin & mentions popout */
  .theme-dark .messagesPopout-24nkyi
  {
    background-color: var(--primary);
  }

  .theme-dark .messagesPopoutWrap-1MQ1bW
  {
    background-color: var(--primary);
    border: none;
  }

  .theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX
  {
    background-color: var(--secondary);
    box-shadow: 0 0px 2px #000000;
  }

  .theme-dark .messageGroupWrapper-o-Zw7G
  {
    border-color: transparent;
    background-color: transparent;
    border-bottom: solid 1px rgba(0,0,0,0.2);
  }

  .theme-dark .messageGroupWrapper-o-Zw7G:hover
  {
    border-color: transparent;
    background-color: var(--secondary-alt);
  }

  .channelSeparator-1MxuvT,.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4
  {
    background-color: var(--secondary);
  }

  .theme-dark .jumpButton-3DTcS_
  {
    background-color: var(--primary);
  }

  .theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug
  {
    box-shadow: none;
    background-color: transparent;
  }

/* jump to message */
@  keyframes color_up
  {
    from {
        background-color: rgba(0,0,0,0.7);
  }

  to
  {
    background-color: rgba(0,0,0,0);
  }
}

div[style^="border-radius: 2px; background-color: rgba(114, 137, 218, 0"]
{
  animation-name: color_up;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* search options */
.theme-dark .container-3ayLPN
{
  background-color: var(--primary);
  box-shadow: 0 0px 2px #000000;
}

.theme-dark .resultsGroup-r_nuzN:before
{
  border-top: 0px;
}

.theme-dark .option-96V44q:after
{
  background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),color-stop(80%,#18191c));
  background: linear-gradient(90deg,rgba(54,57,63,0),#18191c 80%);
}

.theme-dark .option-96V44q.selected-rZcOL-:after
{
  background: -webkit-gradient(linear,left top,right top,from(rgba(35,38,42,0)),color-stop(50%,#121316));
  background: linear-gradient(90deg,rgba(35,38,42,0),#121316 50%);
}

.theme-dark .option-96V44q.selected-rZcOL-
{
  background-color: var(--secondary-alt);
}

.theme-dark .focused-2bY0OD
{
  background-color: var(--secondary);
}

/* search calander */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header
{
  background-color: var(--primary);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous
{
  border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover
{
  background-color: var(--secondary);
}

/* user profile popout */
.root-SR8cQa
{
  border-radius: 0px;
  box-shadow: 0 0px 2px #000000;
}

.userPopout-3XzG_A
{
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  border-radius: 0px;
}

.theme-dark .headerNormal-T_seeN
{
  background-color: var(--secondary);
}

.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6
{
  background-color: var(--primary);
}

.theme-dark .note-3kmerW textarea:focus
{
  background: var(--secondary);
}

.theme-dark .quickMessage-1yeL4E
{
  background-color: #202225;
  border: none;
}

/* user status */
.activity-11LB_k
{
  background-color: rgba(0,0,0,0.25);
  padding: 10px;
}

.headerTop-3C2Zn0
{
  background-color: var(--secondary);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ,.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover
{
  color: #fff;
  background-color: #43b581;
  border: none;
}

/* full user profile popout */
.theme-dark .topSectionNormal-2-vo2m
{
  background-color: var(--secondary);
}

.tabBarContainer-1s1u-z
{
  border-top: none;
  background-color: var(--secondary-alt);
}

.theme-dark .body-3ND3kc
{
  background-color: var(--primary);
}

.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus
{
  background-color: var(--secondary);
}

/* full user status */
.headerFill-adLl4x
{
  background-color: rgba(0,0,0,0.25);
}

.header-QKLPzZ
{
  background-color: var(--secondary);
}

.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx
{
  border: none;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.connectedAccount-36nQx7
{
  background: var(--secondary);
  box-shadow: 0px 0px 2px 0px #000000;
}

.theme-dark .listRow-hutiT_:hover
{
  background: var(--secondary);
}

/* game news popout */
.theme-dark .emptyPlayers-dx3qig, .theme-dark .players-1zg2l8
{
  background-color: var(--primary);
}

.theme-dark .news-2KwXHF,.theme-dark .footer-3J5oP4,.theme-dark .player-3zB-0D:hover
{
  background-color: var(--secondary);
}

.news-2KwXHF .background-VmeaHL
{
  mask: linear-gradient(var(--secondary-alt),transparent);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,.lookFilled-1Gx00P.colorGrey-2DXtkV:hover
{
  background-color: var(--secondary-alt);
}

/* notification settings popout */
.theme-dark .override-2YgiXd:hover
{
  background-color: var(--secondary);
}

.theme-dark .cardPrimaryOutline-29Ujqw
{
  box-shadow: 0px 0px 2px 0px #000000;
}

.checkboxMute-14hTGS:before
{
  background-color: var(--secondary);
}

/* delete message popout */
.theme-dark .footer-3rDWdC
{
  background-color: var(--secondary);
  box-shadow: none;
}

.theme-dark .message-2qRu38
{
  background-color: var(---primary);
  box-shadow: none;
}

/* attach popout*/
.theme-dark .attachPopout-1n-ZKM
{
  background-color: var(--primary);
}

.theme-dark .attachPopoutRow-KrE-f6:hover
{
  background-color: var(--secondary);
}

/* chat @mention members list */
.theme-dark .autocomplete-1vrmpx
{
  background-color: var(--secondary);
  box-shadow: 0px 0px 4px 0px #000000;
}

.theme-dark .selectorSelected-1_M1WV
{
  background-color: var(--secondary-alt);
}

.theme-dark .divider-23swzi
{
  background-color: #0c0c0c;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S
{
  background-color: var(--secondary-alt);
}

/* emoji picker */
.emojiPicker-3m1S-j
{
  background-color: var(--secondary);
  border: none;
  border-radius: 0px;
}

.theme-dark .container-2XeR5Z
{
  background-color: #202225;
}

.diversitySelector-tmmMv0 .popout-2nUePc
{
  background: #121316;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0px 2px 0px #000000;
}

.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover
{
  background-color: var(--secondary-alt);
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU
{
  background: var(--secondary);
}

.emojiPicker-3m1S-j .category-2U57w6
{
  color: #CCCCCC;
}

/* quick switcher */
.theme-dark .quickswitcher-3JagVE, .scroller-zPkAnE
{
  background-color: var(--primary);
}

.theme-dark .input-2VB9rf,.theme-dark .resultFocused-3aIoYe
{
  background-color: var(--secondary);
}

.theme-dark .input-2VB9rf, .theme-dark .input-2VB9rf:focus
{
  box-shadow: none;
}

.theme-dark .keybindShortcut-1BD6Z1 span
{
  border: 1px solid var(--secondary-alt);
  background-color: var(--secondary);
}

/* keyboard combos */
.theme-dark .keyboardShortcutsModal-3piNz7
{
  background-color: var(--primary);
}

/* add group dm popout */
.theme-dark .tag-2gHSR7
{
  background: var(--secondary-alt);
}

.theme-dark .friendSelected-3J_Uh8,.theme-dark .tiles-2aXG_k
{
  background-color: var(--secondary);
}

/* incoming call popout */
.theme-dark .incomingCallInner-2VmFiR
{
  background: var(--primary);
  border: none;
  box-shadow: 0 0px 2px #000000;
}

.video-1FfuMD
{
  background-color: var(--secondary);
  box-shadow: inset 16px 0px 16px -16px rgba(0,0,0,0.8);
}

.theme-dark .quickSelectPopout-X1hvgV
{
  background: var(--primary);
}

.theme-dark .quickSelectPopoutOption-opKBx9:hover
{
  background-color: var(--secondary);
}

/* go live */

/* server message scrollbars */
.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track
{
  border-width: 5px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb
{
  background-color: var(--secondary);
  border-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece
{
  background-color: var(--primary);
  border: none;
  border-radius: 0px;
}
/* Home scrollbars */
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb
{
  background-color: var(--secondary);
  border-color: transparent;
}

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track
{
  background-color: var(--primary);
}
/* channel list scrollbars */
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb
{
  background-color: var(--secondary);
  border-color: transparent;
}
/* members list scrollbars */
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb
{
  background-color: var(--secondary);
}
/* emoji scrollbars */
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb
{
  background-color: var(--primary);
  border-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track
{
  background-color: var(--secondary-alt);
}